NODE_ENV=
# NODE_ENV=
DB_PASSWORD=

PORT =

LOCAL_ORIGIN =
PRODUCTION_ORIGIN =

LOCAL_DB_URL =55nn0rs.mongodb.net/?appName=
PRODUCTION_DB_URL =
# DATABASE_URL =

JWT_SECRET =
JWT_REFRESH_SECRET =
SALT_ROUNDS=